.EstadoCursoEMR {
  padding: 32px;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.submenuclas {
  display: flex;
  width: 360px;
  min-width: 240px;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border: var(--sds-size-stroke-border) solid #000;
  background: #f8f3e9;
}

.selecoptioncla {
  display: flex;
  height: 95px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 15px;
  border: 1px solid #000;
  background: #0b7077;
}

.txtoptioncla {
  flex: 1 0 0;
  color: #fff;
  font-family: var(--sds-typography-heading-font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: var(--sds-typography-heading-font-weight);
  line-height: 120%;
  /* 38.4px */
  letter-spacing: -0.64px;
  margin: 0px;
}

.detalleclases {
  display: flex;
  width: 920px;
  height: 1140px;
  padding: 30px 15px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.txtdetalle {
  align-self: stretch;
  color: var(--sds-color-text-default-default);
  font-family: var(--sds-typography-heading-font-family);
  font-size: 36px;
  font-style: normal;
  font-weight: var(--sds-typography-heading-font-weight);
  line-height: 120%;
  /* 43.2px */
  letter-spacing: -0.72px;
  margin: 0px;
}

.contDetCursos {
  display: flex;
  height: 1022px;
  padding: 30px 0px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  align-self: stretch;
}

.estadoCurso {
  align-self: stretch;
  color: var(--sds-color-text-default-default);
  font-family: var(--sds-typography-heading-font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: var(--sds-typography-heading-font-weight);
  line-height: 120%;
  /* 38.4px */
  letter-spacing: -0.64px;
  margin: 0px;
}

.contTarjetasCursoEstado {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  overflow-x: auto;

}

.mensaje-vacio {
  text-align: center;
  font-style: italic;
  color: #888;
  padding: 1rem;
}
