.footer-simple {
  background-color: #c4e2df; /* color fondo celeste claro */
  color: #013328;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.footer-simple-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo-contact {
  flex: 1 1 300px;
}

.footer-desc {
  margin-top: 15px;
  font-weight: 400;
  color: #0b7077;
  font-size: 15px;
  max-width: 280px;
  line-height: 1.4;
}

.footer-contact-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #0b7077;
  font-weight: 600;
}

.footer-contact-info div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-links-group {
  flex: 3 1 700px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-links-group div {
  min-width: 150px;
}

.footer-links-group h5 {
  font-weight: 700;
  color: #013328;
  margin-bottom: 12px;
}

.footer-links-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #0b7077;
  font-weight: 600;
}

.footer-links-group li {
  margin-bottom: 10px;
  cursor: pointer;
}

/* Estilos para los enlaces */
.footer-links-group a {
  color: #0b7077;
  text-decoration: none; /* Quita el subrayado */
  font-weight: 600;
}

.footer-links-group a:hover {
  color: #013328; /* Color más oscuro al hacer hover */
  transition: color 0.3s ease; /* Transición suave */
}