.toelheaderpue {
  display: flex;
  height: 729px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 0px 0px 50px 50px;
  background: #f8f3e9;
}
.header {
  display: flex;
  width: 1280px;
  height: 163px;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #e5e8eb;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.Buho {
  width: 166px;
  height: 89px;
  aspect-ratio: 166/89;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
}
.selec {
  color: var(--brand-color-2, #fd661f);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
}
.def {
  color: #252641;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
}
.boton1 {
  display: flex;
  width: 170px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
}
.but1tex {
  width: 130px;
  flex-shrink: 0;
  color: var(--Brand-color, #0b7077);
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.boton2 {
  display: flex;
  width: 170px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--Brand-color, #0b7077);
}
.but2tex {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.contHeader {
  display: flex;
  width: 1280px;
  height: 566px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #e5e8eb;
}
.textown {
  display: flex;
  height: 565px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}
.never {
  width: 701px;
  color: #252641;
  font-family: Plus Jakarta Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  letter-spacing: 0.5px;
  margin: 10px;
}
.center {
  width: 701px;
  color: var(--Brand-color, #0b7077);
  font-family: Plus Jakarta Sans;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  margin: 10px;
}
.buttons2 {
  display: flex;
  width: 701px;
  height: 90px;
  padding: 0px 20px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}
.buttonorange {
  display: flex;
  width: 220px;
  height: 50px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--brand-color-2, #fd661f);
}
.textbutton {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.imagenweon {
  display: flex;
  width: 499px;
  height: 565px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}
.lerdo {
  width: 499px;
  height: 565px;
  flex-shrink: 0;
}
