.cont4 {
  display: flex;

  flex-direction: column;
  align-items: center;

  background: #fff;
  margin-bottom: 10px;
}
.txtcont4 {
  display: flex;
  height: 246px;
  padding: 25px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}
.txtgeneralcont4 {
  width: 697px;
  height: 76px;
  flex-shrink: 0;
}
.titverdec4 {
  color: #0b7077;
  text-align: center;
  font-family: Raleway;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 79.2px */
}
.titnarnc4 {
  color: #fd661f;
  font-family: Raleway;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
}
.txgenec4v2 {
  width: 916px;
  height: 100px;
  flex-shrink: 0;
  text-align: center;
}
.txnormc4 {
  color: #252641;
  text-align: center;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 50.4px */
  letter-spacing: 0.56px;
}
.txnegri4 {
  color: #252641;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0.56px;
}
.opcionescont4 {
  display: flex;
  height: 479px;
  padding: 0px 100px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.opcionescont4 {
  display: flex;
  height: 479px;
  padding: 0px 100px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.tarjtutc4 {
  display: flex;
  width: 500px;
  height: 385px;
  padding: 50px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: url("/tutores.png") lightgray 50% / cover no-repeat;
}

.tarjestc4 {
  display: flex;
  width: 500px;
  height: 385px;
  padding: 50px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: url("/estudiantes.png") lightgray 50% / cover no-repeat;
}
.parac4 {
  width: 314px;
  height: 46px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.desctarc4 {
  width: 314px;
  height: 120px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.buttonc4 {
  display: flex;
  width: 235px;
  height: 66px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 80px;
  border: 1px solid #fff;
  text-decoration: none;
}
.txbutnc4 {
  display: flex;
  width: 182px;
  height: 63px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.buttonc4:hover {
  transform: translateY(-4px); /* Se mueve hacia arriba 4px */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Le agrega una sombra */
}
