.LIC {
    padding: 32px;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}