.novdads {
    padding: 32px;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.novdads2 {
    padding: 32px;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 133px;
}

.titnovd {
    color: #FD661F;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
    /* 175% */
}

.subtitnovd {
    height: 70px;
    color: var(--Brand-color, #0B7077);
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
    /* 194.444% */
}

.CurNuev {
    display: flex;
    padding: 30px 0px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.VMasNuCu {
    width: 319px;
    height: 69px;
    color: #0B7077;
    text-decoration: none;
    /* quita subrayado */
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-family: Raleway;
}

.VMasNuCu:hover {
    color: #094d51;
    /* versión más oscura del color */
    transform: translateY(-2px);
    /* pequeño movimiento hacia arriba */
}

.TutNuev {
    display: flex;
    height: 380px;
    align-items: center;
    gap: 20px;
    align-self: stretch;

    overflow-x: auto;
    /* scroll horizontal */
    overflow-y: hidden;
    /* sin scroll vertical */

    flex-wrap: nowrap;
    /* una sola fila */
    -webkit-overflow-scrolling: touch;
    /* suavidad en iOS */
}